Variable in python

In [7]:
num=23
var='you'
flot=9.4
bollean=False
bolen=True

In [10]:
# Naming convetation
# starting with letter or undershore
name="Muhammad Yousaf"
_first_name="muhammad "
_last_name='Yousaf'

print(name,"/",_first_name,"/",_last_name)

Muhammad Yousaf / muhammad  / Yousaf

In [12]:
# type
# int
# float
# bollean
# str
a=4
b=4.5
c='you'
d=True
print(a,b,c,d,)

4 4.5 you True

In [15]:
# Dynamic typing
# in pythoon the type of datatype are dynamic delara during runtime
var='you'
var='saf'
var=23
print(var,var,var)

23 23 23

In [17]:
# input
var=input("Plesae Enter your name")
print(var)

Muhammad youaf

In [20]:
age=int(input("pleaes enter your age"))
print(type(age))

<class 'int'>

In [26]:
# Making a simple colculater 
num1=float(input("Enter first Number"))
num2=float(input("Enter 2nd Number"))

sum= num1+num2
difference =num2-num1
product=num1*num2
divide=num1/num2

print('first number: ',num1)
print('the 2nd number :',num2)

print(sum)
print(difference)
print(product)
print(divide)

first number:  23.0
the 2nd number : 70.0
93.0
47.0
1610.0
0.32857142857142857