Here we practice the list in python 
list is ordered 
list is mutable : can change after its creation 
list is accept duplicate value

Prctice list in python 
list is a bulit in function which are mutable,store duplicate value and store multiple type value

In [5]:
# How to create list
num=[1,2,3,33,4,5]
var=['apple',False]
print(num)
print(var)

[1, 2, 3, 33, 4, 5]
['apple', False]

In [5]:
lst=[]
for i in range(20):
    lst.append(i)
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [6]:
lst.append('yousf')
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 'yousf']

In [7]:
lst.pop()
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# Accesing list iteam by indexing
fruits=['a','d','y','yfg','tyyu']
num=[1,2,5,6,9,0,43]

print(fruits[:1])
# print(num[3])

['a', 'd', 'y', 'yfg', 'tyyu']

In [16]:
# Here are some list method which are use for list 
# append , when we append some iteam in a list use append
lst_apnd=[]
lst_apnd.append('yousaf')
lst_apnd.append(23)
for i in range(10):
    lst_apnd.append(i)
print(lst_apnd)

['yousaf', 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
# insert (1(intex), 'eree'(iteam))
lst_apnd.index(3,4)
print(lst_apnd)

['yousaf', 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
name=['you','khan','ali','kamran','Danish']
name.insert(1,'yousaf')
print(name)

['you', 'yousaf', 'khan', 'ali', 'kamran', 'Danish']

In [28]:
# remove 
name.remove('you')
print(name)

['yousaf', 'khan', 'ali', 'kamran', 'Danish']

In [42]:
# pop take from last
name.pop()
print(name)

['you', 'yousaf', 'khan', 'ali', 'kamran']

In [45]:
#count use to count the iteam
name.count(name)
print(name)

['you', 'yousaf', 'khan', 'ali', 'kamran']

In [46]:
# reverse 
name.reverse()
print(name)

['kamran', 'ali', 'khan', 'yousaf', 'you']

In [47]:
# clear use to clear thr list
name.clear()
print(name)

[]

In [48]:
# sclicing the list
lst=[]
for num in range(20):
    lst.append(num)
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [61]:
# print(lst[2])

print(lst[::4])

[0, 4, 8, 12, 16]

In [69]:
# now practice iterating over a list

# firt for loop 
lst=[1,2,3,4,5,6,7,8,9]
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9

In [76]:
# iterating with the index
lst=[1,2,3,4,5,6,7,8,9]
for  index,num in enumerate(lst):
    print('index:',index,'value:',num)

index: 0 value: 1
index: 1 value: 2
index: 2 value: 3
index: 3 value: 4
index: 4 value: 5
index: 5 value: 6
index: 6 value: 7
index: 7 value: 8
index: 8 value: 9

In [82]:
# List Comprehension very important 
# list comprehension means to create a new list from exesition list in a one line 

# 3 type, simple,conditional,neated list comprehension
# simple or basic :: [exeperaton for iteam iterating]\

# [x**2 for x in range(20)]

[x for x in range(20)]

# with conditional logic same but the condition at last
[x**2 for x in range(19) if x%2==0]

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [83]:
# with list comprehen the code is so lenghty 
lst =[]
for i in range(19):
    if i%2==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [87]:
# the Above whole code into a list comprehension one line code
even_number =[num for num in range(19) if num%2==0]
print(even_number)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [91]:
# nested list component 
# [exp itermi in ietration item2 in iteration conditin]

lst1=[1,2,3,4,5]
lst2=['a','s','e','r','t']

pair=[{i,j} for i in lst for j in lst2]
print(pair)

[{0, 'a'}, {0, 's'}, {0, 'e'}, {0, 'r'}, {0, 't'}, {2, 'a'}, {'s', 2}, {2, 'e'}, {2, 'r'}, {2, 't'}, {4, 'a'}, {'s', 4}, {4, 'e'}, {4, 'r'}, {'t', 4}, {'a', 6}, {'s', 6}, {'e', 6}, {'r', 6}, {'t', 6}, {8, 'a'}, {8, 's'}, {8, 'e'}, {8, 'r'}, {8, 't'}, {10, 'a'}, {'s', 10}, {10, 'e'}, {10, 'r'}, {10, 't'}, {12, 'a'}, {'s', 12}, {12, 'e'}, {12, 'r'}, {'t', 12}, {'a', 14}, {'s', 14}, {'e', 14}, {'r', 14}, {'t', 14}, {16, 'a'}, {16, 's'}, {16, 'e'}, {16, 'r'}, {16, 't'}, {18, 'a'}, {'s', 18}, {18, 'e'}, {18, 'r'}, {18, 't'}]

In [92]:
# list compreshion with function call 
words=['hellow','wow','world','fun','happy']
lenght=[len(word) for word in words]
print(lenght)

[6, 3, 5, 3, 5]