In [2]:
# sqare a number 
numbers=[1,2,3,4,56,7]

def square(number):
    return number**2

list(map(square,numbers))

[1, 4, 9, 16, 3136, 49]

In [4]:
# lambda + map
numbers=[1,2,3,4,56,7]

list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 3136, 49]

In [6]:
# can map multiple iterable [1,2,3]+[4,5,6]=[5,7,9] the yes

number1=[1,2,3]
number2=[4,5,6]

list(map(lambda x,y:x+y,number1,number2))

[5, 7, 9]

In [7]:
# map to convert list of string to intrger 
lst_string=['1','2','3','4','5']

list(map(int,lst_string))

[1, 2, 3, 4, 5]

In [8]:
# inbuild data structure 
# str.upper to upper the itreeam 

str_upper=['apples','mangoo','oranges']
list(map(str.upper,str_upper))

['APPLES', 'MANGOO', 'ORANGES']

In [25]:
# apply to list of dictionary 

def get_name(person):
    return person['name'],person['age']
    
people=[
    {'name':'m yousaf','age':22},
    {'name':"M Danish",'age':3}
]

list(map(get_name,people))

[('m yousaf', 22), ('M Danish', 3)]