Here we practice loop in python like, for and while and break,continue and pass and practice some problem

In [1]:
# for loop used when you know how many time to iterate the loop 
range(3)

range(0, 3)

In [ ]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [8]:
for i in range(10,4,-1):
    print(i)

10
9
8
7
6
5

In [13]:
# use in string
str="muhammad yousaf"
for i in str:
    print(i)

m
u
h
a
m
m
a
d

y
o
u
s
a
f

In [15]:
name="muhammad Yousaf"
for i in name:
    if i=='d':
        print("the vale is d :",i)

the vale is d : d

In [16]:
# now use of break and continue And pass in for loop
# break , stop the loop  imeturally

for i in range(1,9):
    if i==5:
        break
    print(i)

1
2
3
4

In [17]:
# continue skip the 
for i in range(1,9):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8

In [18]:
# pass placeholder 
for i in range(1,9):
    if i==5:
        print("the pass value :",i)
        pass
    print(i)

1
2
3
4
the pass value : 5
5
6
7
8

In [23]:
# nested for loop
for i in range(1,7):
    for j in range(1,3):
        print(f" i:{i} and j:{j}")

 i:1 and j:1
 i:1 and j:2
 i:2 and j:1
 i:2 and j:2
 i:3 and j:1
 i:3 and j:2
 i:4 and j:1
 i:4 and j:2
 i:5 and j:1
 i:5 and j:2
 i:6 and j:1
 i:6 and j:2

Now while loop , use when dont khow how many time to iterate the conditon, depent on condition

In [27]:
count=1
while count<5:
    print(count)
    count=count+1

1
2
3
4

In [48]:
# print sum of first 10 natural digit 
sum=0
count=1

while count<11:
    sum=sum+count
    count=count+1
print(sum)

55